{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'survey_app/css/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static 'survey_app/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'survey_app/css/style.css' %}">
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="{% static 'survey_app/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'survey_app/js/script_after_bootstrap.js' %}"></script>
</body>
</html>