html,
body {
    height: 100%;
}

.survey-landing-wrapper {
    max-width: 42em;
}

.form-login {
    max-width: 24em;
}

.survey_list {
    max-width: 42em;
}

.form-error:empty {
    display: none;
}