{% extends 'survey_app/base.html' %}



{% block content %}
{{ data }}

<div class="survey_card w-100 m-auto p-3">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ question.title }}</h5>

        <table class="table table-hover">
            <thead class="text-center">
                <tr>
                    <th>Option text</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for option in options %}
                <tr>
                    <td data-bs-toggle="tooltip">
                        {{ option.text }}
                    </td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>     
        <a href="{% url 'new_option' survey.pk question.pk %}" class="btn btn-primary">add another option</a>
    </div>
</div>
{% endblock %}