{% extends 'survey_app/base.html' %}



{% block content %}
{{ data }}

<div class="survey_card w-100 m-auto p-3">
    <div class="card-header">
        
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ survey.title }}</h5>
        
        <a href="{% url 'new_question' survey.pk %}" class="btn btn-primary">add another question</a>
        <a href="#" class="btn btn-outline-success">publish</a>
        <a href="{% url 'destroyer' 'survey' survey.pk %}" class="btn btn-outline-danger">delete</a>

        <table class="table table-hover">
            <thead class="text-center">
                <tr>
                    <th>Question text</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                <tr>
                    <td data-bs-toggle="tooltip">
                        {{ question.text }}
                    </td>
                    <td><a href="{% url 'question_by_id' survey.pk question.pk %}" class="btn btn-primary btn-sm">edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}