{% extends 'survey_app/base.html' %}

{% load survey_tags %}

{% block content %}
{{ data }}
<main class="survey_list w-100 m-auto p-3">
    <div class="text-center pb-5">
        <a href="{% url 'new_survey' %}" class="btn btn-primary">Create survey</a>
    </div>
    <div>
        <h3 class="text-center">My surveys:</h3>
        <table class="table table-hover">
            <thead class="text-center">
                <tr>
                    <th>Title</th>
                    <th>Created at</th>
                    <th>Status</th>
                    <th>Submissions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for survey in surveys %}
                <tr class="{{ tr_class_choise | by_key:survey.status }}">
                    <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{survey.title}}">
                        {{ survey.title | truncatechars:24}}
                    </td>
                    <td>{{ survey.created_at | date:"Y-m-d" }}</td> <!-- {{ survey.created_at | date:"Y-m-d (D) - H:i:s" }} -->
                    <td>{{survey.status}}</td>
                    <td>0</td>
                    <td>
                        {% if survey.status == "DRAFT" %}
                        <a href="{% url 'survey_by_id' survey.pk %}" class="btn btn-primary btn-sm">edit</a>
                        <a href="{% url 'publisher' survey.pk %}" class="btn btn-outline-success btn-sm">publish</a>
                        <a href="{% url 'destroyer' 'survey' survey.pk %}" class="btn btn-outline-danger btn-sm">delete</a>
                        {% elif survey.status == "PUBLISHED" %}
                        <a href="{% url 'survey_by_id' survey.pk %}" class="btn btn-primary btn-sm">view</a>
                        <a href="{% url 'closer' survey.pk %}" class="btn btn-outline-secondary btn-sm">close</a>
                        {% elif survey.status == "CLOSED" %}
                        <a href="{% url 'survey_by_id' survey.pk %}" class="btn btn-primary btn-sm">view</a>
                        <a href="{% url 'destroyer' 'survey' survey.pk %}" class="btn btn-outline-danger btn-sm">delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}